// [nz-button] {
//     margin-right: 8px;
//     margin-bottom: 12px;
//   }
.table-responsive-keyword {
    max-height: 300px; /* Adjust based on your needs */
    overflow-y: auto;
    overflow-x: hidden;
  }