<div class="row ">
    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
        <button nbButton status="success" [nbSpinner]="isCrawling" (click)="isCrawling = true; onCrawl($event)">
            <nb-icon icon="arrowhead-down-outline"></nb-icon>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  d-flex justify-content-center">
        <button nbButton status="info" (click)="onExportExcel()">
            <nb-icon icon="file-add-outline"></nb-icon>
        </button>
    </div>
    <div class="col-lg-4 col-md-6  d-flex justify-content-center">
        <button nbButton status="warning" (click)="onDownload()">
            <nb-icon icon="archive-outline"></nb-icon>
        </button>
    </div>
</div>
<ng-template #onCrawlTemplate let-data>
    <div class="row" [formGroup]="crawlFormGroup">
        <div class="col-12 no-gutters px-0 mb-3">
            <nb-select fullWidth placeholder="Crawl" formControlName="crawl">
                <nb-option *ngFor="let ct of crawlContents" [value]="ct">{{ct}}</nb-option>
            </nb-select>
            <div class="alert alert-danger mt-0 mb-3"
                *ngIf="crawlFormGroup.get('crawl').invalid && (crawlFormGroup.get('crawl').dirty || crawlFormGroup.get('crawl').touched)">
                <div *ngIf="crawlFormGroup.get('crawl').errors['notblank']">
                    Crawl is required
                </div>
            </div>
            <div class="my-3 d-flex justify-content-center">
                <button nbButton status="success" (click)="crawlChannel()">Crawl</button>
            </div>
        </div>
    </div>
</ng-template>