<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="card-title tcenter">
                        <!-- <i class="material-icons">content_paste</i>  -->
                        Instagram Profile Scraper
                      </h4>
                      
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="instagramUsername" placeholder="Enter Instagram username(s)">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
